body{
    background-color: rgb(247, 243, 239);
    margin-top: 100px;
    margin-left: 40px;
    margin-right: 30px;  
}

span{
    margin-left: 40%;
    line-height: 30px;
    
}

#search{
    background-color: orange;
    color: white;
}

.card{
    background-color: rgb(231, 203, 166);
    border: 10px solid white;
    border-radius: 20px;
    margin: 20px;
    padding: 20px;
    text-align: center;
    width: 220px;   
}

.food-block{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20 px;
}

#foodDetails{
    text-align: center;
}

#foodDetails img{
    width: 300px;
}
p{
    text-align: left;
    margin-left: 46%;
}

